@model IEnumerable<Vidly2.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (!Model.Any())
{
    <p>There are no customers yet</p>
}
else
{
    <div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Customers </th>
                    <th>Membership Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)
                        </td>
                        <td> 
                            @* By default EF loads rows from Database (as an customer object in this case)
                                initializing any reference type field to be null.
                                So MembershipType is going to be null here and result in an error.
                                To solve this problem we need to load a customer and its MembershipType together.
                                This is called Eager Loading. Do this in CustomerController by using .Include() extension mmethod.
                            *@
                            @customer.MembershipType.Name                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
}
